{% extends 'base.html.twig' %}
{% block menu %}Ajout de Brand {% endblock %}

{% block body %}
    <div class="col-12">
        <div class="card card-warning col-12">
            <div class="card-header">
                <ul class="nav">
                    <li class="nav-item">
                        Ajout de Brand
                    </li>
                </ul>
            </div>
            {{ form.formStart()|raw }}
            <div class="card-body">
                {{ form.createView(true)|raw }}
                <div class='text-center mt-4'>
                    {{ form.formSubmit( "Ajouter" )|raw }}
                </div>
                {{ form.formClose|raw }}
            </div>

            <div class="card-footer">
                    <a href="{{ makeUrl("TijaraShop/brand") }}"><i class="fas fa-arrow-left"></i> Retour à
                        la liste</a>
            </div>
        </div>
    </div>
{% endblock %}